{{>layouts/header}}
<form action ="/articles/create" method="post">
    <input type="text" name="title">
    <textarea name="content"></textarea>
    <button type="submit">제출</button>
</form>
{{>layouts/footer}}